<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get in-depth info about Multiprizer</h2>
                <hr class="light">
                <p class="text-faded">Access the complete documentation which also contains Whitepaper to download. Go through the technical characteristics of this DApp or learn more about gameplay!</p>
                <a href="https://docs.multiprizer.io" class="btn btn-default btn-xl">Documentation</a>
            </div>
        </div>
    </div>
</section>