<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ready, Player One... </h1>
            <hr>
            <p>Multiply your prize winnings by playing your tokens <u>strategically!</u>&nbsp;Multiprizer provides state-of-the-art blockchain features which makes this game highly decentralized and completely tamper-proof. </p>
            <a href="https://ethereum.multiprizer.io" class="btn btn-primary btn-xl ">Play in Ethereum</a>
            <a href="#about" class="btn btn-primary btn-xl ">Play in Tron</a>
            <a href="#about" class="btn btn-primary btn-xl ">Play in EOS</a>
        </div>
    </div>
</header>
