<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features of this DApp</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-random wow bounceIn text-primary"></i>
                    <h4>Most Powerful 'Provable Random' in Blockchain History</h4>
                    <p class="text-muted text-justify small">Multiprizer uses the most sophisticated Provable Random Number to generate winner - Ledger based random of Oraclize, with on-chain proof verification. This makes compromising the 'random' by a malicious player or block miner practically impossible.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-spinner wow bounceIn text-primary"></i>
                    <h4>Highest Level of Decentralization Achieved</h4>
                    <p class="text-muted text-justify small">This DApp is built with game parameters which make sure that the game cannot be controlled or manipulated by any party, not even the admin or creator of this game. The played tokens can be reverted by players if necessary, before the timer runs out.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i>
                    <h4>Play without visiting the site using 'DirectPlay' mode</h4>
                    <p class="text-muted text-justify small">Players dont even have to visit this site to play. One can send the token value of a specific game from their Ethereum Wallets to the Contract Address and the player participation gets auto-confirmed. Read More</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary"></i>
                    <h4>Immaculately secure Smart Contract code</h4>
                    <p class="text-muted text-justify small">The Smart Contract follows best-in-class SECUREDESIGN methodology which prevents attacks such as reentrancy, overflow/underflow etc. The contract is also publicly verified.</p>
                </div>
            </div>
        </div>
    </div>
</section>
